*.dot
__pycache__
*.o
*.d
dslLexer*
dslListener*
dslParser*
test_blinky
test_power_manager
test_boiler
test_simple_blinky
model_check_boiler
*.tokens
generated_*
*~
model_check_blinky
model_check_power_manager
*#
.ropeproject
tmp/*.st